.circle,
.circle::before,
.circle::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: top;
    opacity: 0.9;
    transition: all 5s linear;
    border-radius: 100%;
}

.primary {
    @apply w-[45px] h-[45px] border-2 border-[#297373] z-10;
    animation: primary 30s linear alternate infinite;
    transform: translate3d(13vw, 56vh, 0);
}

.primary::before {
    @apply w-[38px] h-[37px] border-2 border-[#297373] bg-[#297373];
    animation: primary-pseudo 15s linear alternate infinite;
    transform: translate3d(79vw, -31vh, 0) rotate(337deg);
}

.primary::after {
    @apply w-[23px] h-[19px] border-2 border-[#297373];
    animation: primary-pseudo 20s linear alternate infinite;
    transform: translate3d(72vw, -39vh, 0) rotate(81deg);
}

/* Add the keyframes for primary */
@keyframes primary {
    50% {
        transform: translate3d(69vw, 54vh, 0);
    }

    100% {
        transform: translate3d(35vw, 35vh, 0);
    }
}

@keyframes primary-pseudo {
    33% {
        transform: translate3d(-54vw, -8vh, 0) rotate(326deg);
    }

    100% {
        transform: translate3d(58vw, 37vh, 0) rotate(142deg);
    }
}


.secondary {
    @apply w-[45px] h-[45px] border-2 border-[#7AE7C7] z-10;
    animation: secondary 30s linear alternate infinite;
    transform: translate3d(13vw, 56vh, 0);
}

.secondary::before {
    @apply w-[38px] h-[37px] border-2 border-[#7AE7C7] bg-[#7AE7C7];
    animation: secondary-pseudo 15s linear alternate infinite;
    transform: translate3d(79vw, -31vh, 0) rotate(337deg);
}

.secondary::after {
    @apply w-[23px] h-[19px] border-2 border-[#7AE7C7];
    animation: secondary-pseudo 20s linear alternate infinite;
    transform: translate3d(72vw, -39vh, 0) rotate(81deg);
}

@keyframes secondary {
    50% {
        transform: translate3d(69vw, 54vh, 0);
    }

    100% {
        transform: translate3d(35vw, 35vh, 0);
    }
}

@keyframes secondary-pseudo {
    33% {
        transform: translate3d(-54vw, -8vh, 0) rotate(326deg);
    }

    100% {
        transform: translate3d(58vw, 37vh, 0) rotate(142deg);
    }
}
