@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #297373;
  --color-secondary: #7AE7C7;
}

