@import 'tailwindcss';

html {
  color-scheme: light dark;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #297373;
  --color-secondary: #7ae7c7;
}
